h1{
    color: blueviolet;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}
div{
    background-color: tomato;
    padding: 10px;
    margin-bottom: 10px;
}
.codep{
    color: white;
}